@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: #f9580e;
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #0c0b0b;
}

.heading {
    font-size: 4rem;
    color: #f9580e;
    text-align: center;
    padding: 6rem 1rem 0 0;
    letter-spacing: .2rem;
    font-weight: 600;
}

.title {
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color: #fff;

}

header {
    width: 100%;
    background: #171717;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: .2s;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;

}

header .navbar ul li a {
    font-size: 2rem;
    color: #fff;
    transition: .2s
}

header .navbar ul li .active, 
header .navbar ul li a:hover {
    color: #f9580e;
}


header .logo {
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
}

header .fa-bars {
    font-size: 3rem;
    color: #f9580e;
    cursor: pointer;
    display: none;
    transition: .2s;
}


.home {
    min-height: 50vh;
    background: linear-gradient(rgba(225,184,0,0.2), rgba(236,134,0,0.8)), url(images/MIT.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content {
    displayº: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 25rem;
    text-align: center;
}

.home .content h1 {
    font-size: 5rem;
    color: #fff;
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.home .content p {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 25rem;
}

.home .content button {
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    background: #f9580e;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    margin-top: 2rem;
    border-color: #f9580e;
}

.home .content button:hover {
    background: none;
    border: .2rem solid #f9580e;
}  




